<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${pain}">
    <div class="form-group">
        <label th:for="location">Location:</label>

        <tr>
            <td><select name="location" >
                <option value="head">Head</option>
                <option value="neck" selected="selected">Neck</option>
                <option value="Shoulder">Shoulder</option></select>
            </td>
        </tr>

    </div>

    <div class="form-group">
        <label th:for="type">Type:</label>

        <tr>
            <td><select name="type" >
                <option value="acute">Acute</option>
                <option value="chronic" selected="selected">Chronic</option>
                <option value="breakthrough">Breakthrough</option></select>
            </td>
        </tr>
        <span th:errors="*{type}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="intensity">Intensity:</label>
        <input class="form-control" th:field="*{intensity}" />
        <span th:errors="*{intensity}" class="error"></span>
        <!--<div class="slidecontainer">-->
            <!--&lt;!&ndash;<p>Custom range slider:</p>&ndash;&gt;-->
            <!--<input type="range" min="1" max="10" value="5" class="slider" id="myRange"/>-->
        <!--</div>-->
    </div>

    <div class="form-group">
        <label th:for="date">Date:</label>
        <input class="form-control" type="date" th:value="2018/6/9" th:field="*{date}" />
        <span th:errors="*{date}" class="error"></span>
    </div>

    <input type="submit" value="Add Pain Entry" />
</form>

</body>
</html>