body {
    font-family: sans-serif;
    background-color: light blue;
}

nav {
    margin-bottom: 20px;
}

.vertical-center {
     margin: 0;
     position: absolute;
     top: 50%;
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
  }

 .vl {
      border-left: 6px solid green;
      height: 250px;
      position: absolute;
      left: 50%;
      margin-left: -3px;
      top: 0;
      }